<!DOCTYPE html>
<html>
  <head>
    <title>Hitchspots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/typeahead.min.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
  </head>
  <body>
    <div class="home">
      <h1>Get <a href="http://hitchwiki.org/maps/">Hitchwiki</a> spots into <a href="https://maps.me/en/home">MAPS.me</a></h1>
      <div class="form-wrapper">
        <form method="GET" action="/trip">
          <div class="form-group">
            <label for="from">From</label>
            <input id="from" type="text" class="form-control" name="from" placeholder="Geneva" required="true" autocomplete="off">
            <input id="from_lat" type="hidden" name="from_lat">
            <input id="from_lon" type="hidden" name="from_lon">
          </div>
          <div class="form-group">
            <label for="to">To</label>
            <input id="to" type="text" class="form-control" name="to" placeholder="Zürich" required="true" autocomplete="off">
            <input id="to_lat" type="hidden" name="to_lat">
            <input id="to_lon" type="hidden" name="to_lon">
          </div>
          <button type="submit" class="btn btn-success" title="Send this file to your phone and import it into MAPS.me">Generate MAPS.me Bookmarks</button>
        </form>
      </div>
      <% if @error %>
        <p class="text-error"><%= @error[:message] %></p>
      <% end %>
    </div>
    <footer class="footer">
      <hr>
      <span class="left">Made by <a href="http://www.norydev.com">norydev</a></span>
      <span class="right">Open Source <a href="https://github.com/norydev/hitchspots">code</a></span>
    </footer>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/typeahead.bundle.min.js"></script>
    <script src="/js/typeahead-address-photon.min.js"></script>
    <script src="/js/hitchspots.js"></script>
  </body>
</html>
