<!DOCTYPE html>
<html>
  <head>
    <title>Hitchspots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="home">
      <h1>Get <a href="http://hitchwiki.org/maps/">Hitchwiki</a> spots into <a href="https://maps.me/en/home">MAPS.me</a></h1>
      <div class="form-wrapper">
        <form method="GET" action="/trip">
          <div class="form-group">
            <label for="from">From</label>
            <input type="text" class="form-control" name="from" id="from" placeholder="Geneva" required="true">
          </div>
          <div class="form-group">
            <label for="to">To</label>
            <input type="text" class="form-control" name="to" id="to" placeholder="Zürich" required="true">
          </div>
          <button type="submit" class="btn btn-success" title="Send this file to your phone and import it into MAPS.me">Generate KML file</button>
        </form>
      </div>
      <% if @error %>
        <% if @error[:not_found] %>
          <p class="text-error"><%= @error[:not_found] %></p>
        <% else %>
          <p class="text-error">Sorry, our service is unavailable at the moment, please try again later</p>
        <% end %>
      <% end %>
    </div>
    <footer class="footer">
      <hr>
      <span class="left">Made by <a href="http://www.norydev.com">norydev</a></span>
      <span class="right">Open Source <a href="https://github.com/norydev/hitchspots">code</a></span>
    </footer>
  </body>
</html>
