* {
  margin: 0;
}
html, body {
  height: 100%;
}

.bg {
  background: url("../img/bg.jpg") repeat center;
  background-size: 150px 150px;
}

.home {
  text-align: center;
  padding: 50px 10px 0;

  min-height: 100%;
  margin-bottom: -80px;
}

.map-wrapper {
  position: relative;
  width: 100%;
  max-width: 540px;
  height: 400px;
  margin: 0 auto;
}

.map {
  position: absolute;
  top: 0;
  height: 100%;
}

.map-preview-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}

.map-preview-overlay .map-preview-action {
  margin-top: 183px;
}

.map .mapboxgl-canvas {
  left: 0;
}

.marker {
  background-color: red;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.home:after {
  content: "";
  display: block;
  height: 80px;
}

a, a:hover, a:focus {
  color: #5cb85c !important;
  text-decoration: none !important;
}

.form-wrapper {
  width: 100%;
  max-width: 350px;
  margin: 30px auto;
  display: inline-block;
  text-align: left;
}

.home-form {
  position: relative;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
  min-height: 212px;
}

.home-form .inline-input-label {
  min-width: 40px;
  text-align: center;
}

.home-form .btn-submit {
  position: absolute;
  bottom: 15px;
}

@media (min-width:200px) {
  .home-form {
    border-top: 0;
  }
}

.text-error {
  color: #ffffff;
  background-color: #d9534f;
  padding: 10px;
  margin-top: 50px;
  width: 100%;
  border-radius: 2px;
}

footer.footer {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;

  padding: 0 10px;
  height: 55px;
}

.footer hr {
  border-top-color: rgba(0, 0, 0, 0.2);
}

.left {
  float: left;
}

.right {
  float: right;
}

.block {
  display: block;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.cursor-default {
  cursor: default;
}

.text-white {
  color: #ffffff;
}
