* {
  margin: 0;
}
html, body {
  height: 100%;
}

.bg {
  background: url("../img/bg.jpg") repeat center;
  background-size: 150px 150px;
}

.home {
  text-align: center;
  padding: 50px 10px 0;

  min-height: 100%;
  margin-bottom: -80px;
}

.home:after {
  content: "";
  display: block;
  height: 80px;
}

a, a:hover, a:focus {
  color: #5cb85c !important;
  text-decoration: none !important;
}

.form-wrapper {
  width: 100%;
  max-width: 350px;
  margin: 30px auto;
  display: inline-block;
  text-align: left;
}

.home-form {
  position: relative;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
  min-height: 220px;
}

.home-form .btn-submit {
  position: absolute;
  bottom: 15px;
}

@media (min-width:200px) {
  .home-form {
    border-top: 0;
  }
}

.text-error {
  color: #ffffff;
  background-color: #d9534f;
  padding: 10px;
  margin-top: 50px;
  width: 100%;
  border-radius: 2px;
}

footer.footer {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;

  padding: 0 10px;
  height: 55px;
}

.footer hr {
  border-top-color: rgba(0, 0, 0, 0.2);
}

.left {
  float: left;
}

.right {
  float: right;
}
