* {
  margin: 0;
}
html, body {
  height: 100%;
}

.home {
  text-align: center;
  padding: 50px 10px 0;

  min-height: 100%;
  margin-bottom: -80px;
}

.home:after {
  content: "";
  display: block;
  height: 80px;
}

a, a:hover, a:focus {
  color: #5cb85c !important;
  text-decoration: none !important;
}

.form-wrapper {
  width: 100%;
  max-width: 320px;
  margin: 30px auto;
  display: inline-block;
  text-align: left;
}

.text-error {
  color: #d9534f;
}

footer.footer {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;

  padding: 0 10px;
  height: 55px;
}

.left {
  float: left;
}

.right {
  float: right;
}
